**/wandb
**/.idea
**/.vscode

**/__pycache__/
**/*.pyc
**/.DS_Store

**/tmp
**/logs/
**/results/
**/log_*
**/dev/
**/checkpoints

mllm_poison.code-workspace


data_process/mimic-ext-mimic-cxr-vqa/processed_*